body{
	background-image: url(../../assets/img/landscape.jpg);
	background-size: cover; /*ajusta la imagen a la pantalla*/
	background-repeat: no-repeat; /*no repite la imagen*/
	display: flex;

	justify-content: center; /* ajuste parte horizontal*/
	flex-direction: row; /* poner los objetos de forma horizontal*/
	align-items: flex-end; /* ajuste de forma vertical */
	min-height: 100vh;  /*altura minima del body va a ser la atura del visor del navegador*/
}
picture{
	display: block;
    margin: auto;
}
@media (max-width: 599px){
	container{
		width: 100%
	}
	body{
		background-image: url('../img/maxresdefault.jpg');
	}
}

@media (min-width: 600px) and (max-width: 950px){
	container{
		width: 100%
	}
	body{
		background-image: url(../../assets/img/dawn.png);
}